@model IEnumerable<Helperland.Models.CustomerDashbord>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- dashbord starts here -->
<div id="dashbord" class="allPageMain">
    <div>
        <div class="customer-page-title-export" id="dashbordTitle">
            <div class="customer-page-title">
                <h2>
                    Current Service Requests
                </h2>
            </div>
            <div id="export-btn">
                <a href="#" role="button" id="export">Add new Service Request</a>
            </div>
        </div>



        <table id="dashbordTable">
            <thead>
                <tr>
                    <th>
                        Service Id
                    </th>
                    <th class="dateTime">
                        Service Details
                    </th>
                    <th>
                        Service Provider
                    </th>
                    <th class="headingPayment">
                        Payment
                    </th>

                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td>
                                @row.ServiceRequestId
                            </td>
                            <td class="dateTime">
                                <div>
                                    <span><img src="/img/upcomingService/calendar2.png" alt=""></span>
                                    <span class="upcoming-date"><b>@row.ServiceStartDate</b></span>
                                </div>
                                <div>
                                    <span><img src="/img/upcomingService/timer.png" alt=""></span>
                                    <span class="upcoming-time">@row.StartTime - @row.EndTime</span>
                                </div>
                            </td>
                            <td>
                                @if (row.ServiceProvider != null) { 
                                <div class="customer-sh-SP">
                                    <div>
                                        <span class="cap-span"><img src="/img/customer-serviceHistory/cap.png" class="cap" alt=""></span>
                                    </div>
                                    <div class="sp-detail">
                                        <p class="SP-name">@row.ServiceProvider</p>
                                        <span><img src="/img/customer-serviceHistory/star1.png" alt="" class="customer-sh-SP-star1"></span>
                                        <span><img src="/img/customer-serviceHistory/star1.png" alt="" class="customer-sh-SP-star2"></span>
                                        <span><img src="/img/customer-serviceHistory/star1.png" alt="" class="customer-sh-SP-star3"></span>
                                        <span><img src="/img/customer-serviceHistory/star1.png" alt="" class="customer-sh-SP-star4"></span>
                                        <span><img src="/img/customer-serviceHistory/star1.png" class="customer-sh-SP-star5" alt=""></span>
                                        <span class="SP-stars">4</span>
                                    </div>
                                </div>
                                }
                                
                            </td>
                            <td>
                                <div class="allPagePayment">

                                    <span class="payment">@row.TotalCost</span>
                                    &euro;
                                </div>
                            </td>

                            <td class="allPageActionButtons dashbordActions">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#serviceRequestReschedule" value=@row.ServiceRequestId class="customerReschedule">Reschedule</button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#serviceRequestCancelModal" value=@row.ServiceRequestId class="customerCancel">Cancel</button>
                            </td>
                        </tr>

                    }
                }



                <!-- 1st row -->
                <!-- 1 row ends -->
            </tbody>
        </table>

    </div>


</div>
<!-- dashbord ends here -->