@model IEnumerable<Helperland.ViewModels.NewServiceRequestTable>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="newServiceRequest" class="allPageMain tableContents">

    <div class="customer-page-title-export">
        <div class="customer-page-title">
            <h2>
                New Service Request
            </h2>
        </div>
        <div id="export-btn">
            <a href="#" role="button" id="export">Export</a>
        </div>
    </div>

    <div>
        <input type="checkbox" id="havepetCheckbox" checked/>
        <label for="havepetCheckbox">Including Pet at home</label>
    </div>

    <table id="newServiceRequestTable">
        <thead>
            <tr>
                <th>
                    Service ID
                </th>
                <th>
                    Service Date
                </th>
                <th>
                    Customer Details
                </th>
                <th>
                    Payment
                </th>
                <th>
                    Time Conflict
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count() > 0)
            {
                @foreach (var row in Model)
                {
                    <tr data-value="@row.ServiceRequestId">
                        <td>
                            @row.ServiceRequestId
                        </td>
                        <td>
                            <div>
                                <span><img src="/img/upcomingService/calendar2.png" alt=""></span>
                                <span class="upcoming-date"><b>@row.ServiceStartDate</b></span>
                            </div>
                            <div>
                                <span><img src="/img/upcomingService/timer.png" alt=""></span> <span class="upcoming-time">@row.StartTime-@row.EndTime</span>
                            </div>
                        </td>
                        <td>
                            <div>@row.CustomerName</div>
                            <div><span><img src="/img/upcomingService/home.png" alt=""></span> <span class="upcoming-address">@row.AddressLine2, @row.AddressLine1<br>@row.City - @row.PostalCode</span> </div>
                        </td>
                        <td>
                            <span>@row.TotalCost</span> &euro;
                        </td>
                        <td>
                            @if (row.TimeConflict != 0)
                            {
                                <button type="button" data-value="@row.TimeConflict" class="btn timeConflict">Conflicted</button>
                            }
                            @if (row.HasPet == false)
                            {
                                <div class="d-none dontHavePet">dontHavePet</div>
                            }
                        </td>
                        <td class="allPageActionButtons">
                            @if (row.TimeConflict != 0)
                            {
                                <a href="#" class="btn disabled">Accept</a>
                                    }
                                    else
                                    {
                                        string myid = "newAcceptBtn" + row.ServiceRequestId;
                                <a href="#" class="btn acceptService" id=@myid >Accept</a>
                            }
                        </td>

                    </tr>

                }
            }


        </tbody>
    </table>
</div>